{% extends 'adminlte3/base.html' %}

{% block title %}Adicionar Produto{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <section class="content">
            <div class="container">
                <h1>Adicionar Produto</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
                <a href="{% url 'lista_produtos' %}" class="btn btn-secondary mt-3">Voltar</a>
            </div>
        </section>
    </div>
{% endblock %}
